# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Зависимости
node_modules/

# Среды разработки и редакторы
/.pnp
.pnp.js
# файлы и каталоги операционной системы
.DS_Store
Thumbs.db

# Файлы конфигурации IDE
/.idea
/.vscode
*.swp
*.swo
*.sublime-workspace

# Директории сборки и дистрибутивы
/dist
/tmp
/out

# Архивы, полученные при сжатии выходных данных сборки
*.tar.gz
*.zip
*.rar

# Секретные файлы, содержащие ключи доступа, пароли и т.д.
#app/environment/.env
.secret

# Файлы сборки - Если вы используете какие-либо системы сборки
/coverage
/build
